
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/fe6b277a-cea1-484c-98a6-51f82f866131"
    id="fe6b277a-cea1-484c-98a6-51f82f866131"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="be4be043-8219-4698-8fb0-0ac44de622f8"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="20c947c6-37d5-48a7-be4b-7b0980352a52"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
