
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/57138049-0ce3-420b-883b-fc0af95f0b49"
    id="57138049-0ce3-420b-883b-fc0af95f0b49"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="f5967649-5595-43be-b756-f2d0ac294b9f"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="11001bba-11b2-4049-add3-bd1ba07ff4ee"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
