
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/32857176-7bfe-404a-a882-da6eb54b9303"
    id="32857176-7bfe-404a-a882-da6eb54b9303"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="47cf184a-8aac-4019-8f1b-26e9daa54356"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="20c947c6-37d5-48a7-be4b-7b0980352a52"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
