
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/6784f41a-ad17-40a0-b8dd-10bb8f5a1d5d"
    id="6784f41a-ad17-40a0-b8dd-10bb8f5a1d5d"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="c07bdfca-0a85-4bb6-b7fa-c891521292f0"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="b70a643e-8a9f-49e2-bcac-5a93fa167d7c"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
