
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/5809ba12-ed79-4748-8bfd-77d9aac31db4"
    id="5809ba12-ed79-4748-8bfd-77d9aac31db4"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="ab0e696a-2e8b-450e-8030-9c95e27bae7c"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="eebf64c9-6ed6-4fd4-9e51-e1c0d32269a4"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
