<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bitpredict.io</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='css/portfolio-item.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a class="navbar-brand" href="/">bitpredict.io</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
                    <li>
                        <a href="/extended">Extended Activity</a>
                    </li>
                    <li>
                        <a href="/performance">Performance History</a>
                    </li>
                    <li>
                        <a href="https://github.com/cbyn/bitpredict.git">Learn More on GitHub</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Machine Learning for High Frequency Bitcoin Price Prediction</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
		    {% block bokeh %}{% endblock %}
            </div>

            <div class="col-md-4">
                <h3>Implementation</h3>
		<p>At one second intervals, a trained model makes a 30 second price forecast using live order and trade data from the Bitfinex exchange.</p>
		<p>Simulated trades are executed at a one basis point threshold and held for 30 seconds, with only one open position allowed at a time.</p>
		<p>Theoretical returns are calculated purely as measure of predictive performance. Most of the price movements are too small to be profitable in practice. Transaction costs are not considered.</p>
            </div>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; Christopher Bynum - <a href="mailto:cbynum@cdbcap.com">cbynum@cdbcap.com</a>
		    </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>

</html>
