
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/6b2ab046-a4eb-462c-b7d8-0c240aee19dd"
    id="6b2ab046-a4eb-462c-b7d8-0c240aee19dd"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="bc3b1908-95f3-4da7-905c-2d0ac0ded8e8"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="db633158-fb7c-45b4-95c2-9edebe7bd72d"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
