
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/4c747598-b3f9-474e-83bf-6199b653af14"
    id="4c747598-b3f9-474e-83bf-6199b653af14"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="6609d70b-9f03-4095-899e-8bacdeb0907d"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="4e61c9fc-217a-4692-afb7-f8ac3ed10b11"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
