
{% extends "layout.html" %}
{% block bokeh %}
<script
    src="http://54.76.50.101:5006/bokeh/autoload.js/9df7a083-e54e-49cb-a690-77dcf312bc2f"
    id="9df7a083-e54e-49cb-a690-77dcf312bc2f"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="8158e983-e9a4-46ed-9ddc-cbf5dc2a564b"
    data-bokeh-root-url="http://54.76.50.101:5006/"
    data-bokeh-docid="db633158-fb7c-45b4-95c2-9edebe7bd72d"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
{% endblock %}
